/* Start Variables */
:root {
    --main-color: white;
    --secondry-color: #fa1e1e85;
    --main-transition: 0.3s;
    --section-padding: 50px;
}
/* End Variables */

/* Start Global Rules */
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}   

::-webkit-scrollbar-thumb {
    background-color: #e4002b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ce181e;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
/* End Global Rules */
/* Start Variables */
:root {
    --main-transition: 0.3s;
}
/* End Variables */

/* Start Welcome page */
.page {
    background-color: black;
    min-height: 100vh;
}

.welcome-page {
    border-radius: 6px;
    background-color: #232323;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    min-width: 400px;
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .welcome-page {
        margin: 10px;
        min-width: 330px;
    }
}

.welcome-page > h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.welcome-page > form div.inp-field {
    position: relative;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
}

.welcome-page > form.login-form div.inp-field {
    margin-bottom: 30px;
}

.welcome-page > form.signup-form div.inp-field {
    margin-bottom: 15px;
}

.welcome-page > form .radio {
    margin-bottom: 20px;
    margin-left: 10px;
}

.welcome-page > form div.inp-field input {
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 100%;
}

.welcome-page > form div.inp-field label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    transition: var(--main-transition);
}

.welcome-page > form div.inp-field input:focus + label,
.welcome-page > form div.inp-field input:not(:placeholder-shown) + label {
    left: 5px;
    top: 0px;
    color: white;
    background-color: #232323;
    transition: var(--main-transition);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.welcome-page > form div:nth-last-of-type(1) {
    text-align: center;
}

.welcome-page > form input[type="submit"] {
    background-color: white;
    border-radius: 6px;
    padding: 4px 8px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}

.welcome-page > form input[type="submit"]:hover {
    background-color: red;
    color: white;
}

.welcome-page > p a {
    color: #e4002b;
}

.welcome-page > form input[type = "radio"] {
    appearance: none;
}

.welcome-page > form input[type="radio"] + label {
    position: relative;
}

.welcome-page > form input[type="radio"] + label::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid white;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.welcome-page > form input[type="radio"] + label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 0;
    height: 0;
    background-color: red;
    left: -18.25px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}

.welcome-page > form input[type="radio"]:checked + label::after {
    width: 10px;
    height: 10px;
}

.welcome-page > form div.bussiness-man {
    display: none;
}

.welcome-page > form input[id="bus-man"]:checked ~ .bussiness-man {
    display: block;
}
/* End Welcome page */
/* Start Customer main Page */
/* Start Header */
.header {
    padding: 10px;
    box-shadow: -2px 10px 16px -6px rgba(128,128,128,0.75);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.header a.logo {
    color: red;
    font-size: 30px;
}

.header .categories {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    gap: 5px;
    cursor: pointer;
    transition: var(--main-transition);
    border-radius: 20px;
}

.header .categories:hover {
    background-color: var(--secondry-color);
}

.header .search-bar {
    border-radius: 40px;
    border: 2px solid black;
    padding: 5px;
    width: 65%;
}

@media (max-width:767px) {
    .header a.logo {
        display: none;
    }

    .header .categories span {
        display: none;
    }

    .header .search-bar {
        font-size: 14px;
        width: 50%;
        overflow: hidden;
    }

    .header .search-bar button {
        display: none;
    }

    .header .extras {
        gap: 5px;
        font-size: 14px;
    }
}

.header .search-bar input {
    border: none;
    outline: none;
    width: 100%;
}

.header .search-bar button {
    border: none;
    outline: none;
    background-color: red;
    color: white;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

.header .extras {
    gap: 15px;
    font-size: 18px;
}

.header .extras button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: var(--main-transition);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .extras button:first-of-type:hover {
    background-color: red;
}

.header .extras button:last-of-type:hover {
    color: #ffd43b;
}

.header .menu li {
    position: relative;
    padding: 10px;
    transition: var(--main-transition);
}

.header .menu a {
    color: black;
    font-size: 18px;
    font-weight: bold; 
    transition: color var(--main-transition) ease; 
}

@media (max-width: 767px) {
    .header .menu a {
        font-size: 13px;
    }
}

.header .menu a:hover {
    color: red;
}
/* End Header */
/* Start Customer main page */
.welcome-cust {
    padding-top: 30px;
    background-color: var(--secondry-color);
}

.welcome-cust > h1 {
    margin-bottom: -40px;
}

.welcome-cust .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 30px;
    justify-content: space-evenly;
    margin: 20px;
    position: relative;
    bottom: -83px;
}

.welcome-cust .container .box {
    position: relative;
    cursor: pointer;
    color: black;
}

.welcome-cust .container .box::before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 0;
    background-color: #333;
    height: 2px;
    transition: 0.4s;
}

.welcome-cust .container .box:hover::before {
    width: 100%;
}

.welcome-cust .container .box img {
    max-width: 100%;
    transition: var(--main-transition);
}

.welcome-cust .container .box:hover img {
    transform: scale(1.05);
    box-shadow: -2px 15px 10px -6px rgba(128,128,128,0.8);
}

.welcome-cust .container .box p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    transition: var(--main-transition);
}

.welcome-cust .container .box:hover p {
    transform: translateY(5px);
}
/* End Customer main page */
/* Start Side Bar */
.sidebar {
    position: fixed;
    top: 0;
    left: -175px; 
    height: 100%;
    width: 175px;
    background-color: #f5f5f5;
    transition: left 0.3s ease-in-out; 
    z-index: 1000; 
    overflow-y: auto;
}

.sidebar .welcome-cust {
    background-color: white;
}

.sidebar.show {
    left: 0px; 
}

.sidebar .content {
    padding: 20px;
}

/* End Side Bar */
/* Start Today Offer */
.cust-page .today-offers {
    padding-top: 120px;
    position: relative;
}

.cust-page .recommendation {
    position: relative;
    padding-top: 60px;
    padding-bottom: 50px;
}

.cust-page .section-heading {
    margin: 0 0 10px;
    text-align: center;
}

@media (max-width: 767px) {
    .cust-page .recommendation {
        padding-top: 40px;
    }

    .cust-page .section-heading {
        font-size: 24px;
    }
}

.cust-page .today-offers .container, 
.cust-page .recommendation .container {
    position: relative;
}

.cust-page .today-offers img, 
.cust-page .recommendation img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

.cust-page .today-offers .arrows, 
.cust-page .recommendation .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.cust-page .today-offers .left-arrow,
.cust-page .today-offers .right-arrow, 
.cust-page .recommendation .left-arrow,
.cust-page .recommendation .right-arrow {
    color: black; 
    cursor: pointer;
    transition: var(--main-transition);
}

.cust-page .today-offers .left-arrow:hover,
.cust-page .today-offers .right-arrow:hover, 
.cust-page .recommendation .left-arrow:hover,
.cust-page .recommendation .right-arrow:hover {
    color: red;
}

.cust-page .today-offers .bullets,
.cust-page .recommendation .bullets {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.cust-page .today-offers .bullets li, 
.cust-page .recommendation .bullets li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
}

.cust-page .today-offers .bullets li.active,
.cust-page .recommendation .bullets li.active {
    background-color: var(--secondry-color);
}
/* End Today Offer */
/* Start categories Section */
.clothes-section, .jewel-section,.smart-dev, .electronics, .furniture, .health {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.item-box {
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #777;
    transition: var(--main-transition);
}

.item-box:hover {
    box-shadow: -2px 15px 10px -6px rgba(128,128,128,0.8);
}

.item-box .image {
    overflow: hidden;
}

.item-box .image img {
    max-width: 100%;
    transition: 0.5s;
}

.item-box:hover .image > img {
    opacity: 0;
}

.item-box .image .back-image {
    position: absolute;
    bottom: -400px;
    transition: 0.5s;
}

.smart-dev .item-box .image .back-image {
    bottom: -600px;
}

.item-box:hover .image .back-image {
    bottom: 0;
}

.item-box .item-name {
    border-top: 1px solid #777;
    padding: 5px 10px 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.item-box .describtion {
    display: block;
    color: #777;
    padding: 0 10px 10px;
    font-size: 18px;
    border-bottom: 1px solid #777;
    text-align: center;
}

.item-box .footer {
    padding: 5px 20px;
}

.item-box .footer .price .deleted {
    text-decoration: line-through;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.item-box .footer .new-price {
    display: block;
    font-size: 26px;
}

.item-box .footer .add {
    text-align: right;
    font-size: 18px;
}

.item-box .footer .add button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.item-box .footer .add .add-to-fav {
    gap: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.item-box .footer .add .add-to-fav:hover {
    color: red;
}

.item-box .footer .add .add-to-cart {
    gap: 10px;
    width: 100%;
    transition: 0.2s;
}

.item-box .footer .add .add-to-cart:hover {
    color: #ffd43b;
}


.modal,.modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content,.modal-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-height: 600px;
    overflow-y: auto;
}

body.modal-open {
    overflow: hidden;
}

.favorites-modal .item-box {
    max-height: 100px;
    max-width: 100px;
    overflow: auto;
}

/* Comment Section Styles */
.comment-section {
    margin-top: 10px;
    padding-left: 5px;
    border-top: 1px solid #777;
}

.comment-section h3 {
    font-size: 1.2em;
    margin: 10px 0;
    padding-left: 5px;
}

.comment-list {
    padding: 0;
}

.comment-list li {
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #e0e0e0;
}

.comment-list li:last-child {
    border-bottom: none;
}

.comment-form {
    display: flex;
    align-items: center;
    border: 1px solid #777;
    margin: 0 5px 5px;
    padding: 0 5px;
}

.comment-form textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    outline: none;
    border: none;
}

.comment-form button {
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--main-transition);
    height: 100%;
}

.comment-form button:hover {
    background-color: rgb(217, 0, 0);
}

/* End categories Section */


/* Start bussiness man page */
.orders h2 {
    margin: 20px 0 0 0;
}

.orders .table {
    margin: 10px 0 0 10px;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

.orders .filters {
    padding: 0;
    display: flex;
}

.orders .filters li {
    display: inline;
}

.orders .filters button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #f4f4f4;
    transition: var(--main-transition);
}

.orders .filters button.active {
    background-color: var(--secondry-color);
}

.orders .filters button:hover {
    background-color: var(--secondry-color);
}

.orders table {
    min-width: 1000px;
    width: 100%;
    border-collapse: collapse;
}

.orders th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
    transition: var(--main-transition);
}

.orders th {
    /* background-color: #f2f2f2; */
    background-color: var(--secondry-color);
}

.orders table tr td.state span {
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    display: block;
    color: white;
}

.orders table tr td.state span.completed {
    background-color: #22c55e;
}

.orders table tr td.state span.confirmed {
    background-color: #0075ff;
}

.orders table tr td.state span.pending {
    background-color: #f44336;
}

.orders table tr td.state span.shipping {
    background-color: #f59e0b;
}

.orders table tr:hover td {
    background-color: #faf7f7;
}

/* Start Stock Section */
.stock-table-div {
    overflow: auto;
}

.stock-table {
    min-width: 1000px;
    width: 100%;
    border-collapse: collapse;
}

.stock-table th, .stock-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
    transition: var(--main-transition);
}

.stock-table th {
    background-color: var(--secondry-color);
}

.stock-table tbody tr:hover td {
    background-color: #faf7f7;
}

.stock-table .state span {
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    display: block;
    color: white;
}

.stock-table .state span.in-stock {
    background-color: #22c55e;
}

.stock-table .state span.out-of-stock {
    background-color: #f44336;
}

.stock-table .state span.low-stock {
    background-color: #f59e0b;
}

.stock-filters {
    padding: 0;
    display: flex;
}

.stock-filters li {
    display: inline;
}

.stock-filters button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #f4f4f4;
    transition: var(--main-transition);
}

.stock-filters button.active {
    background-color: var(--secondry-color);
}

.stock-filters button:hover {
    background-color: var(--secondry-color);
}

/* End Stock Section */
/* Start Finance Section */
.finances .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.finances .finance-summary {
    /* border: 1px solid #777; */
    padding: 0 5px;
    flex: 1;
    text-align: center;
}

.finances .finance-summary > h3 {
    background-color: var(--secondry-color);
    width: 100%;
    padding: 5px;
}

.finances .finance-summary > p {
    font-size: 24px;
}
/* End Finance Section */
/* End bussiness man page */