/* Start Positioning */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.v-center {
    display: flex;
    align-items: center;
}

.grid-center {
    display: grid;
    place-items: center;
}

.grid-4-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.t-center {
    text-align: center;
}

.p-relative {
    position: relative;
}
/* End Positioning */
/* Start Spacing */
.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.p-20 {
    padding: 20px;
}
/* End Spacing */
/* Start shaping */
.br-6 {
    border-radius: 6px;
}

.circle {
    border-radius: 50%;
}

.btn {
    padding: 4px 6px;
}
/* End shaping */
/* Start Size */
.full-w {
    width: 100%;
}
/* End Size */
/* Start Colors */
.c-white {
    color: white;
}
/* End Colors */
/* Start Mobile */
@media (max-width: 767px) {
    .hide-mob {
        display: none;
    }
}
/* End Mobile */